// Reset
// https://meyerweb.com/eric/tools/css/reset/

*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;

    &:not(input) {
        user-select: none;
    }
}

* {
    touch-action: manipulation; // Prevent double-tap zoom on mobile devices
    -webkit-tap-highlight-color: transparent; // Prevent highlight on tap
}

html,
body {
    // Disables pull-to-refresh and overscroll glow effect
    // Still keeps swipe navigations
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

body {
    margin: 0 !important;
}
