// Base text

body {
    font-family: var(--body);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-ink);
}

// Display headings

h1 {
    font-family: var(--display);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

h2 {
    font-family: var(--display);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.15;
}

// Structural headings

h3 {
    font-family: var(--body);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
}

h4 {
    font-family: var(--body);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
}

h5 {
    font-family: var(--body);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--color-text-weak);
}

h6 {
    font-family: var(--body);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--color-text-weak);
}

// Typography

pre {
    background-color: var(--color-surface-reverse);
    color: var(--color-accent);
    border-radius: var(--border-radius);
    text-align: left;
    padding: 1rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.5;
    font-family: monospace;
}

// Utility classes

.muted {
    opacity: 0.5;
}

.full-width {
    width: 100%;
}

:not(input) {
    user-select: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.glass {
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

input:focus {
    border-radius: var(--border-radius);
    outline-offset: 0.5rem;
    outline: 2px dashed var(--color-theme);
}
