// Add other files

@use './reset.scss';
@use './variables.scss';

// Fontawesome

@use '@fortawesome/fontawesome-free/css/fontawesome.css';
@use '@fortawesome/fontawesome-free/css/solid.css';
@use '@fortawesome/fontawesome-free/css/regular.css';
@use '@fortawesome/fontawesome-free/css/brands.css';

@layer base {
    // Base text

    body {
        font-family: var(--font);
        font-size: 1rem;
        line-height: 1.5;
        color: white;
    }

    // Headings

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }

    h1 {
        font-size: 8rem;
        opacity: 0.2;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--color-theme);
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
    }

    // Typography

    pre {
        background-color: var(--color-surface-reverse);
        color: var(--color-accent);
        border-radius: var(--radius-lg);
        text-align: left;
        padding: 1rem;
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 1rem;
        line-height: 1.5;
        font-family: monospace;
    }

    // Util

    .debug {
        border: 2px solid red !important;
    }

    :focus-visible,
    .has-focus:has(:focus-visible) {
        outline-offset: 0.2rem;
        outline: 2px solid var(--color-theme);
    }

    [disabled] {
        opacity: 0.5;
        pointer-events: none;
        cursor: pointer;

        * {
            pointer-events: none;
        }
    }

    * {
        user-select: none;
    }
}

mark {
    background-color: var(--color-accent);
    border-radius: var(--radius-sm);
    padding: 0 0.375rem;
}

label.input-box {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-theme-weak);
    border-radius: var(--radius-md);
    min-height: 2rem;
    overflow: hidden;

    &:has(:focus-within) {
        outline: 2px solid var(--color-theme);
        outline-offset: 0.125rem;
        > span {
            color: var(--color-theme);
        }
    }

    > span {
        border-right: 1px solid var(--color-theme-weak);
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 0 0.625rem;
        height: 100%;
        color: black;
        background-color: var(--color-theme-faint);
    }

    > input {
        outline: none;
        padding: 0 0.5rem;
        width: 100%;
        &::placeholder {
            font-style: italic;
        }
    }
}

.muted {
    opacity: 0.5;
}

.accent {
    color: var(--color-accent);
}
