// In from right
.slide-right-enter-active {
    transition: all 0.2s ease-out;
}

.slide-right-enter-from {
    transform: translateX(1rem);
    opacity: 0;
}

// In from top
.slide-top-enter-active {
    transition: all 0.2s ease-out;
}

.slide-top-enter-from {
    transform: translateY(-1rem);
    opacity: 0;
}

// Fade in
.fade-enter-active {
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

.fade-enter-from {
    opacity: 0;
}

.fade-enter-to {
    opacity: 1;
}
