// From right
.slide-right-enter-active {
    transition: all 0.2s ease-out;
}

.slide-right-enter-from {
    transform: translateX(1rem);
    opacity: 0;
}

// From top
.slide-top-enter-active {
    transition: all 0.2s ease-out;
}

.slide-top-enter-from {
    transform: translateY(-1rem);
    opacity: 0;
}
