.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.2s ease-out;
}

.slide-right-enter-from,
.slide-right-leave-to {
    transform: translateX(1rem);
    opacity: 0;
}

.slide-right-leave-active {
    position: absolute;
}
