@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    // Typography

    --font: 'Arvo', serif;

    // Colors

    --color-theme: #154973; // primary actions and interactive elements like buttons and checkboxes
    --color-theme-strong: #0e324f;
    --color-theme-weak: #cddde9;
    --color-theme-faint: #f7fafd; // subtle accents and backgrounds

    --color-accent: #face00; // highlighting or emphasis

    --color-base: #62666a; // base color for informational messages

    --color-surface: #ffffff; // default surface
    --color-surface-raised: #f5f5f5; // raised surface

    --color-transparent-black: rgba(0, 0, 0, 0.5); // Used for backgrounds etc.
    --color-transparent-faint-black: rgba(0, 0, 0, 0.1); // Used for backgrounds etc.
    --color-transparent-white: rgba(255, 255, 255, 0.5); // Used for backgrounds etc.
    --color-transparent-faint-white: rgba(255, 255, 255, 0.1); // Used for backgrounds etc.
}
